//colores

$color-white:#f0f8ff;
$color-clearBlue:#3498db;
$color-red:#c60303;
$color-gray:#878B91;
$color-bg:#061d30;
$color-footer:#111;

//font

$general-font:"Kanit", sans-serif;

//extras
$filter_dropShadow:drop-shadow(11px 16px 9px #000000);
   
