.filter {
    grid-area: filter;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .filter_params {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        gap: 5px;
        h3 {
            color: $color-white;
            font-size: 1.3em;
            text-align: center;
        }
        label, span { 
            color: $color-white;
            font-size: 1.1em;
        }
        select {
            width: 50%;
            font-size: 1em;
            cursor: pointer;
        }
        .filter_check {
            width: 90%;
            cursor: pointer;
        }
        input[type="range"] {
            width: 80%;
            height: 5px;
            background: $color-white;
            border-radius: 5px;
            outline: none;
            -webkit-appearance: none;
            &::-webkit-slider-thumb {
                width: 15px;
                height: 15px;
                background: $color-clearBlue;
                border-radius: 50%;
                cursor: pointer;
                -webkit-appearance: none;
            }
        }
        .filter_valor {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        #priceValue {
            margin-top: 5px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .button_general {
        background-color: $color-red;
        text-decoration: none;
        color: $color-white;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
        &:hover {
            background-color: $color-red;
        }
        &:active {
            transform: scale(0.95);
        }
    }
}
//Catalogo
.productos{
    grid-area: productos;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.1fr 1fr;
    gap: 20px;
    #show_button{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        opacity: 0;
    }
    #title_prod{
        width: 100%;
        padding-top: 40px;
        text-align: center;
        color: $color-white;
        font-size: 2.5em;
        text-transform: uppercase;
    }
    .productos_articulo{
        transition: all .3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
        cursor: pointer; 
        position: relative;
        width: 100%;
        max-width: 500px; 
        margin: auto;
        overflow: hidden;
        border-radius: 10px;
        img:first-child{
            border-radius: 4px;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        .productos_articulo_info {
            position: absolute;
            width: 100%;
            bottom: 50%; 
            left: 50%;
            transform: translate(-50%, 50%);
            transition: .3s ease;
            opacity: 0;
            text-align: center;
            h3{
                color: $color-white;
                font-size: 1.5em;
                font-weight: bold;
            }
            p{
                color: $color-white;
                padding: 10px;
                text-align:center;   
            }
            a{
                background-color: $color-red; 
                text-decoration: none;
                color: $color-white;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
                &:hover{
                    background-color: $color-red;
                }
                &:active{
                    transform: scale(0.95);
                }
            }
        }   
        &:hover{
            transform: 
            perspective(250px)
            translateY(-5%)
            translateZ(0);
            .productos_articulo_info {
                opacity: 1;
                transform: translate(-50%, 50%);
            }
        }
        &::before{
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
                to bottom,transparent 0%,
                rgba(0,0,0,0.7) 20%,
                rgba(0,0,0) 100%
            );
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
            opacity: 0;
            transition: all 0.3s ease-in;
        }
        &:hover::before{
            opacity: 1;
        }
    }
}